// Big Button
.big-button {
    background-color: $gold;
    border: none;
    border-bottom: .6rem solid darken($gold, 10%);
    color: white;
    font-weight: bold;
    font-size: $l-size;
    margin-bottom: $m-size;
    padding: 2.4rem; /*this is internal to the element*/
    width: 100%;
}

.big-button:disabled {
    opacity: .5;
}

.big-button--link {
    text-decoration: none;
    text-align: center;
}

.big-button-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
}



//Apply these styles at a minimum width of 45
@media (min-width: $desktop-breakpoint) {
    .big-button {
        margin-bottom: $xl-size;
    }
}

// Button
.button {
    background: $gold;
    border: none;
    border-bottom: .3rem solid darken($gold, 10%);
    color: white;
    font-weight: 700;
    padding: $s-size;
    border-radius: 6px;
}

.button--link {
    background: none;
    border: none;
    color: $off-white;
    padding: 0;
}

