// Colors
$off-black: #20202b; //header background
$dark-blue: #333345; //main background, the body background
$blue: #3c3e51; //options header background
$light-blue: #46465e; //options list background
$off-white: #a8a5d7; //sub-title text
$purple: #c5af57; //button

//Other colors
$dark-grey: #333333;
$grey: #666666;

//Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;